@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400, 700;
}

@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 400, 700;
}

:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

.sr-only {
    position: absolute;
    width: .01em;
    height: .01em;
    padding: 0;
    margin: -.01em;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    font-family: Karla, serif;
    color: var(--grey-900);
    background-color: var(--green-200);
    accent-color: var(--green-600);
}