@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400, 700;
}

@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 400, 700;
}

:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);

    --border: 1px solid var(--grey-500)
}

.sr-only {
    position: absolute;
    width: .01em;
    height: .01em;
    padding: 0;
    margin: -.01em;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    display: grid;
    place-items: center;
    
    font-family: Karla, serif;
    color: var(--grey-900);
    background-color: var(--green-200);
    accent-color: var(--green-600);
}

form{
    margin-block-start: 1em;
}

label{
    flex-grow: 1;

    line-height: 1;

    span {
    color: var(--green-600);
    }   
}

input + label{
    cursor: pointer;
}

:is(input, textarea):not(:user-invalid)~p,
[role="radiogroup"]:not(:user-invalid) p {
    display: none;
}

[aria-invalid] p,
[aria-invalid] ~ p{
    color: var(--red);
}

.card {
    padding-inline: clamp(1.5rem, 5vw, 2.5rem);
    padding-block: 1rem;
    inline-size: min(90vw, 46rem);
    margin-block-end: 3rem;

    background-color: white;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button{
    padding: 1rem;
    
    background-color: var(--green-600);
    color: var(--white);
    border: none;
    border-radius: .5em;

    &:hover, &:focus-visible{
        background-color: var(--grey-900);
        cursor: pointer;
    }
}

.form-group {
    display: grid;
    gap: .75rem;
    &:has(> input[type="checkbox"], > input[type="radio"]) {
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    &:has(> [type="radio"]):focus-within{
        background-color: var(--green-200);
        cursor: pointer;
    }

    &:has(> .form-group){
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }

    &.consent{
        margin-block: 2rem;
        & p{
            grid-column: 1/-1;
        }
    }
}

input, textarea {
    padding: .5em;
    border: var(--border);
    &:is(&:hover, &:focus-visible){
        border-color: var(--green-600);
        outline: none;
        cursor: pointer;
    }
    
    &:not([type="checkbox"]){border-radius: .5em;}
    &:is([type="radio"], [type="checkbox"]) {
        margin: 0;
        padding: 0;;
        inline-size: 1rem;
        aspect-ratio: 1;
        appearance: none;
        border: var(--border);
        background-clip: content-box;

        &:checked{
            border-color: var(--green-600);
            background: var(--green-600) content-box;
            padding: .2rem;
        }
    }
}

fieldset {
    border: none;
    padding: 0;
    
    & legend{
        margin-block-end: .5em;
    }

    & .form-group:has(.form-group){
        gap: 1rem;
    }

    & .form-group:not(:has(.form-group)) {
        display: flex;
        gap: .5em;
        padding: .75em;
        align-items: center;

        border: var(--border);
        border-radius: .5em;

    }
}